 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1400px;
}

header {
    background-color: rgb(24, 24, 24);
    border-bottom: 1px solid rgba(159, 67, 235, 0.397);
    display: flex;
    justify-content: center;
}

.nav-container {
    display: grid;
    grid-template-areas: "logo menu-ul";
    padding: 20px;
    width: 100%;
}

li, a, p, span, h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
}

.logo {
    grid-area: "logo";
    font-size: 20px;
    color: rgb(147, 140, 168);
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo span {
    color: rgb(169, 163, 255);
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

.logo:hover {
    transform: scale(1.05);
    margin-left: 10px;
    color: rgb(200, 190, 255);
}

.logo:hover span {
    color: rgb(255, 255, 255);
}

.menu-ul {
    grid-area: "menu-ul";
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    gap: 20px;
    height: 100%;
}

.menu-ul a {
    text-decoration: none;
    color: inherit;
    transition: all 0.6s ease;
    color: white;
    font-weight: 600;
}

.menu-ul a:hover {
    border-bottom: 1px solid  rgb(169, 163, 255);
    color:  rgb(169, 163, 255);
}

.menu-ul li {
    list-style-type: none; 
}

main {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
}

main .container {
    padding: 50px 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    color:aliceblue;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.432);
    border-radius: 20px;
    padding: 30px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card p, .card h2 {
    color: black;
}

.card h2 {
    cursor: pointer;
}

.card:hover {
    box-shadow: 10px 10px 10px 5px rgba(213, 161, 255, 0.658);
}

.card img {
    width: 250px;
    max-width: 20vw;
    height: 250px;
    margin: auto;
    object-fit: contain;
    cursor: pointer;
}

.price {
    color:aliceblue;
    border: 2px solid green;
    border-radius: 20px;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-buttons p {
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
}

.card .price {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
    transition: background-color 0.3 ease;
    cursor: pointer;
}

.card .price:hover {
    background-color: rgb(107, 15, 168);
    color: white;
}

.card .status {
    color:  green;
}

.card .out-of-stock {
    color:  red;
}

.card-buttons p:first-child {
    width: 60%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(83, 21, 163);
    color: white;
    font-weight: 600;
}